.hero{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero h2{
    font-size: 32px;
    font-weight: 400;
    color: #555;
}
.hero p{
    font-size: 18px;
    color: #777;
    max-width: 600px;
}
.hero button{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0071E3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button{
    display: inline-block;
    padding: 14px 30px;
    margin: 1opx;
    background-color: #0071E3;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}
.secondary{
    background:white;
    color: #0071E3;
    
}
body{
    margin: 0;
    font-family: Arial,sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.gallery{
    padding: 120px 80px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.gallery-grid img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}
.gallery-grid img{
    transition:0.4s;
}
.gallery-grid img:hover{
    transform: scale(1.03);
}
nav a{
    text-decoration: none;
    color: #333;
    margin-left: 30px;
    font-size: 18px;
}
nav a:hover{
    color: #0071E3;
}